.wrapper {
    padding-top: 140px;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614719486_145-p-foni-dlya-artov-187.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
